.buttons {
  border-radius: 10px;
  align-self: center;
}

button {
  border-radius: 10px;
  padding: 3px 5px;
  background-color: rgb(90, 87, 87);
  color: white;
  margin: 3px;
}

.card {
  border: 2px solid black;
  margin: 15px;
  border-radius: 5px;  
  width: 450px;
  background-color: rgb(234, 234, 234);
}

.innerCard {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  border-radius: 1px 1px 1px 1px;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none
}
.green {
  background-color: rgb(111, 146, 111);
}

.blue {
  background-color: rgb(100, 125, 149);
}

.red {
  background-color: rgb(202, 105, 105);
}

.yellow {
  background-color: rgb(233, 206, 58);
}

.grey {
  background-color: rgb(85, 83, 83);
}

#head, #body, #legs{
  display:flex;
  justify-content: center;
  align-items: center;
}

img {
  padding: 0px 10px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.grid {
  display:grid;
  grid-template-columns: repeat(2, 520px);
  width: auto;
}