body {
   display: grid;
   justify-content: center;
   background-color:#edebd9
}

button {
border: none;
border-radius: 11px;
width: 100px;
border: 2px solid black;
font-size: 18px;
background-color: rgba(219, 173, 88, 0.606);
}

button:hover {
   background-color: rgba(219, 173, 88, 0.838);
}

#utsiden {
   grid-area: utsiden;
   justify-self: center;
   font-size: 14px;
   background-color: rgb(206, 199, 199);
}

.utenfor {
text-align: center;
margin-top:40px;
align-self: center;

}
.leilighet2 {
   display: grid;
   margin-top: 30px;
   gap: 30px;
   grid-template-columns: 80px 180px 80px 80px;
   grid-template-rows: 30px 30px 30px;
   grid-template-areas: "gang gang gang"
                        "stue deg bad"
                        "kjøkken kjøkken kjøkken"
                        "info info info"
                        "utsiden utsiden utsiden"
}
#gang {
   grid-area: gang;
   justify-self: center;
   background-color: rgba(124, 168, 137, 0.448);
   }
   
   #stue {
   grid-area: stue;
   justify-self: center;
   background-color: rgba(216, 184, 0, 0.559);
   }
   
   #bad {
   grid-area: bad;
   justify-self: center;
   background-color: rgba(40, 111, 137, 0.448);
   }
   
   #kjøkken {
   grid-area: kjøkken;
   justify-self: center;
   background-color: rgba(183, 49, 49, 0.448);
   }
   
   #deg {
      grid-area: deg;
      justify-self: center;
      font-size: 18px;
   }
   
   #enter {
      justify-self: center;
      margin-bottom: 30px;
      
   }


   #stue:hover {
      background-color: rgba(216, 184, 0, 0.816)
   }

   #bad:hover {
      background-color: rgba(40, 111, 137, 0.702);
   }

   #kjøkken:hover {
      background-color: rgba(183, 49, 49, 0.652);
   }

   #gang:hover {
      background-color: rgba(124, 168, 137, 0.805);
   }

   #utsiden:hover {
      background-color: rgb(170, 164, 164)
   }