#trafficlight { 
   width: 6rem;
   height: 20rem;
   display: flex;
   flex-direction: column;
   background-color: black;
   padding: 2rem;
   gap: 2rem;
   border-radius: 1rem;
}


.light {
   background-color: rgb(184, 184, 184);
   border-radius: 50%;
   width: 6rem;
   height: 6rem;
}

#redLight {
background-color: rgb(222, 67, 67);
}

#yellowLight {
   background-color: rgb(238, 192, 75);
}

#greenLight {
   background-color: rgb(85, 184, 106);
}